.page-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.inventory-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f4f9f9;
  overflow: auto;
}

.inventory-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 90%;
  margin-top: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  color: #697572;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 40px 10px;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: inset 10px 10px 20px #ebebeb, inset -10px -10px 20px #ffffff;
}

.table-container {
  width: 100%;
}
